<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Blog list</h2>
    <h4>You have written {{ blogs_count }} blog{{ blogs.count|pluralize }}.</h4>
    {% for blog in blogs  %}
{#        <img width="300px" src="{{ project.image.url }}" alt="">#}
        <h1><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h1>
        <h4>{{ blog.date|date:'M d Y'| upper }}</h4>
        <h3>{{ blog.desc| truncatechars:100 }}</h3>
    {% endfor %}
</body>
</html>